{% extends "/public/base.html" %}

{% block title %}About me{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>

            <div class="col-6">
                <h1 class="display-4">About me</h1>
                <p>Welcome to my simple Heroku test app for testing the connection with Heroku and Flask app. I am Jan Verderber and I'm currently attending the
                    computer engineer school. I'm 20 years old and I've been interested in computers and programming since I was little.
                </p>
            </div>

            <div class="col">
            </div>

        </div>
    </div>
</div>
{% endblock content %}
